body {
    font-family: sans-serif;
    font-size: 16px;
}

svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

 .axis path,
 .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    fill: #f00;
    stroke: #000;
}

.label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

circle:hover {
    fill: #49fb35;
    stroke: #49fb35;
    stroke-width: 5px;
}

.container {
  float: left;
}
